.wrapper {
  width: 100%;
  height: 100vh;
}

.container {
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
  max-width: 80vw;
  width: calc(100% - 4px);
  height: 80vh;
  background-color: black;
}



.error {
  color: white;
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.emoticonError {
  font-size: 10vh;
  display: block;
  color: white;
  margin-bottom: 50px;
}

.goBack {
  text-decoration: underline;
  position: relative;
  top: 24px;
  font-size: 30px;
  cursor: pointer;
}

.arrowBack {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.arrowBack * {
  fill: white;
}

.arrowBack:hover * {
  fill: rgb(249, 19, 19);
}

.title {
  color: white;
}

article {
  margin: 0 auto;
  margin-top: 100px;
  max-width: 80vw;
  width: 100%;
  padding: 10px;
  color: white;
  z-index: 9999999;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 100%;
    min-height: 150px;
    max-height: 40vh;
    height: 100%;
    margin-top: 150px;
  }

  .title {
    color: white;
    margin-left: 14px;
  }

  .error {
    font-size: 14px;
  }

  .emoticonError {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .goBack {
    font-size: 12px;
  }

  .arrowBack {
    width: 25px;
    height: 25px;
  }
}