.movieList {
    height: 500px;
}

.movieList__item {
    position: relative;
    flex-shrink: 0;
    max-width: 300px;
    height: 300px;
    padding: 40px 20px 10px 20px;
    border-radius: 14px;
    margin-right: 8px;
    border: 6px solid rgb(40, 13, 13);
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.392);
    transition: 0.6s scale ease-in-out 0.6s translateY ease-in-out;
    z-index: 99;
    overflow: hidden;
}

.movieList__item:hover {
    position: relative;
    transform: scale(1.1) translateY(20px);
    background-color: rgba(0, 0, 0, 1);
    transition: 0.6s all ease;
    border-color: white;
    height: auto;
    z-index: 999;
}

@media screen and (max-width: 500px) {
    .movieList {
        margin-top: 50px;
        height: 400px;
    }

    .movieList__item {
        height: 250px;
    }

    .movieList__item:hover {
        transform: scale(1) translateY(0px);
        height: auto;
    }
}

ul {
    list-style: none;
}

.image {
    height: 169px;
    max-width: 300px;
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 10px;
}

.img {
    position: absolute;
    width: 100%;
    height: auto;
    display: block;
}

.title {
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.descritpion {
    padding: 5px;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    opacity: 0;
}

.movieList__item:hover .descritpion {
    visibility: visible;
    opacity: 1;

    transition: 0.5s opacity;
}